.idea
*.h5
*.mat
*.png
*.jpg
*.jpeg
*.pyc
*.weights
*.cfg
*.mp4
*.gif
*.csv
*.otf
events.out.tfevents.*
*.midi
*.iml

__pycache__/
datasets/
tflog/
font/
images/
model_data/
nb_images/
output/
pretrained-model/
weights/
data/
models/
deeplearningAIbooks/

