.idea
*.h5
*.mat
*.png
*.jpg
*.jpeg
*.pyc
*.weights
*.cfg
*.mp4
*.gif
*.csv
*.otf
events.out.tfevents.*

.ipynb_checkpoints
*.iml
*.midi

data/
output/
datasets/
tflog/
font/
images/
model_data/
nb_images/
weights/